# Files must always have a string value
adguardhome-password: tbd
bazarr-api-key: tbd
changedetection-api-key: tbd
grafana-password: tbd
jellyfin-api-key: tbd
jellyseer-api-key: tbd
nginxproxymanager-password: tbd
prowlarr-api-key: tbd
qbittorrent-api-key: tbd
radarr-api-key: tbd
sonarr-api-key: tbd
synology-dsm-service-account-password: tbd
uptimekuma-api-key: tbd
openclaw-telegram-bot-token: tbd
openclaw-anthropic-api-key: tbd
