# Files must always have a string value
adguardhome-password: tbd
bazarr-api-key: tbd
changedetection-api-key: tbd
grafana-password: tbd
jellyfin-api-key: tbd
jellyseerr-api-key: tbd
nginxproxymanager-password: tbd
openclaw-anthropic-api-key: sk-ant-your-anthropic-api-key-here
openclaw-telegram-bot-token: 123456789:ABCdefGHIjklMNOpqrsTUVwxyz
prowlarr-api-key: tbd
qbittorrent-api-key: tbd
radarr-api-key: tbd
sonarr-api-key: tbd
synology-dsm-service-account-password: tbd
uptimekuma-api-key: tbd
ygege-env: "YGG_USERNAME=your_ygg_username\nYGG_PASSWORD=your_ygg_password"
